<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!--
    Standalone UR10e + Robotiq 2F-85 description.

    Matches one cell of ~/Desktop/Aayush_ws/DataHall_6r.usd
    (/World/Robots/UR10e_<station_id>).

    Process:
      xacro ur10e_robotiq_2f_85.urdf.xacro name:=ur10e > ur10e_robotiq_2f_85.urdf

    For Isaac Sim URDF import, pass force_abs_paths:=true.
    For the PickNik Isaac ros2_control plugin, pass sim_isaac:=true include_ros2_control:=true.
    For six stations, launch this xacro six times with distinct tf_prefix values:
      tf_prefix:=UR10e_NegativeY_Top/
      tf_prefix:=UR10e_PositiveY_Top/
      tf_prefix:=UR10e_NegativeY_Middle/
      tf_prefix:=UR10e_PositiveY_Middle/
      tf_prefix:=UR10e_NegativeY_Lower/
      tf_prefix:=UR10e_PositiveY_Lower/
  -->
  <xacro:arg name="name" default="ur10e_robotiq_2f_85"/>
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="parent" default="world"/>

  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="false"/>

  <xacro:arg name="include_ros2_control" default="false"/>
  <xacro:arg name="sim_isaac" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="com_port" default="/dev/ttyUSB0"/>
  <xacro:arg name="adapter_rotation" default="0.0"/>

  <xacro:include filename="ur10e_robotiq_2f_85_macro.urdf.xacro"/>

  <link name="$(arg parent)"/>

  <xacro:ur10e_robotiq_2f_85
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg parent)"
    ur_type="$(arg ur_type)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"
    include_ros2_control="$(arg include_ros2_control)"
    sim_isaac="$(arg sim_isaac)"
    sim_ignition="$(arg sim_ignition)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    com_port="$(arg com_port)"
    adapter_rotation="$(arg adapter_rotation)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur10e_robotiq_2f_85>
</robot>
